body {
    background-color:#ddf2f2;
}
*{
    margin:0;
    padding:0;
    border:0;
}
a{
    text-decoration:none;
    color:#726868;
}
a:hover{ /*a elementinin üzerine gelince olacak olanlar*/
    color:#a09494;
}

.butongorsel{
    background-color:#a09494;
    height:25px;
    width:100px;
    color:white;
}
.butongorsel:hover{
    background-color:rgba(160, 148, 148, 0.87);

}
.textboxgorsel{
    height:25px;
    width:150px;
    border:1px dotted #726868;
}
.dropdownlistGörsel{
    height:25px;
    width:auto;
    border:1px dotted #b6b2b2;

}
.kutu{
    width:1000px;
    height:1000px;
    margin:0 auto; /*sayfayı ortalar 1000 px fazlasını kenardan dıştan ortalayacaktır.*/
}
    .kutu .slider{
        width:100%;
        height:100px;
        float:left;
        background-color:lightpink;

    }
    .kutu .govde{
        width:100%;
        height:auto;
        float:left;
        margin-top:20px;
    }
    .kutu .govde .govdesol{
        width:280px;
        height:auto;
        float:left;

    }
        .kutu .govde .govdesol .govdesolbaslik{
            width:100%;
            height:30px;
            float:left;
            background-color:lightpink;
            border:1px dotted #b6b2b2;
            color:white;
            line-height:30px;
            font-weight:bolder;
            
        }
        .kutu .govde .govdesol .govdesolicerik{
            width:100%;
            height:auto;
            float:left;
            border:1px dotted #b6b2b2;

        }
    .kutu .govde .govdesag{
        width:710px;
        height:auto;
        float:right;
        border:1px dotted #b6b2b2;
    }
    .kutu .footer{
        width:100%;
        height:30px;
        float:left;
        background-color:lightpink;
        margin-top:20px;
    }
